h1 {
  font-family:Helvetica;
  font-size:100px;
  font-weight: bold;
  color:khaki;
  text-align: center;
  background-image: url('Images/pattern.jpeg');
}
h2 {
  font-family:Helvetica;
  font-size:32px;
  font-weight:bold;
  color:white;
}
.brushes h2 {
  background-color: mediumspringgreen;
  border:2px solid green;
}
.frames h2 {
  background-color: lightcoral;
  border:2px solid red;
}
.paint h2 {
  background-color: skyblue;
  border: 2px solid blue;
}
strong {
  font-family:Helvetica;
  font-weight:bold;
  color:blue;
}
img{
  border: 4px solid orange;
}
p {
  font-family:cursive;
  font-size: 20px;
}
